.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: rgb(104, 250, 206,0.6) 2px solid;
  border-radius: 5px;
  background-color: rgb(104, 250, 206,0.2);
}
.login img{
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
}
.login input, .add input, .update input, .add input{
    width: 280px;
    outline: none;
    border-radius: 5px;
    height: 30px;
    border: 1px solid pink;

  }
  .login button, .add button, .update button, .add button{
    width: 285px;
    height: 30px;
    border: 1px solid pink;
    border-radius: 5px;
    background: skyblue;
    color: #fff;
    cursor: pointer;
  }

  