.login input, .add input, .update input, .add input{
    width: 300px;
    height: 40px;
    border: 1px solid pink;

  }
  .login button, .add button, .update button, .add button{
    width: 320px;
    height: 40px;
    border: 1px solid pink;
    border-radius: 5px;
    background: skyblue;
    color: #fff;
    cursor: pointer;
  }
  .login, .update, .add{
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  