.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login img{
  width: 84px;
  height: 84px;
  border-radius: 50%;
  overflow: hidden;
}
.login input, .add input, .update input, .add input{
    width: 300px;
    outline: none;
    border-radius: 5px;
    height: 40px;
    border: 1px solid pink;

  }
  .login button, .add button, .update button, .add button{
    width: 305px;
    height: 40px;
    border: 1px solid pink;
    border-radius: 5px;
    background: skyblue;
    color: #fff;
    cursor: pointer;
  }

  